# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.CountMastery.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\berka\OneDrive\Masaüstü\CountMastery\.idea\.idea.CountMastery\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
